version: 2.1

executors:
  node-executor:
    docker:
      - image: cimg/node:20.11 # LTS version of Node
    resource_class: medium

commands:
  restore-npm-cache:
    steps:
      - restore_cache:
          keys:
            - npm-deps-v1-{{ checksum "package-lock.json" }}
            - npm-deps-v1-

jobs:
  build-and-test:
    executor: node-executor
    steps:
      - checkout

      # Setup and cache dependencies
      - restore-npm-cache
      - run:
          name: Install Dependencies
          command: npm ci
      - save_cache:
          key: npm-deps-v1-{{ checksum "package-lock.json" }}
          paths:
            - ~/.npm

      # Code quality checks (these must pass before proceeding)
      - run:
          name: Format Check & Fix
          command: npx prettier --write .

      # If format or lint fails, do not proceed
      - run:
          name: Lint Check
          command: npx eslint .
          when: on_success

      - run:
          name: Build
          command: npm run build
          when: on_success

      # Store build artifacts
      - store_artifacts:
          path: dist
          destination: build

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build
