@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #007bff;
    --secondary: #6c757d;
    --accent: #718ebf;
    --black: #232323;
    --white: #ffffff;
    --not-active: #b1b1b1;
    --color-text-muted: #8ba3cb;
    --color-text-base: #343c6a;
    --color-text-sharp: #396aff;
    --color-bg-gray: #f5f7fa;
    --color-bg-lavender: #5b5a6f;
    --color-bg-dirty-white: #dfeaf2;
    --brown: #e7e4e8cc;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.inter-400 {
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-500 {
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-600 {
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-700 {
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-800 {
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* Lato */

.lato-thin {
  font-family: 'Lato', serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: 'Lato', serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: 'Lato', serif;
  font-weight: 400;
  font-style: normal;
}

.lato-semibold {
  font-family: 'Lato', serif;
  font-weight: 600;
  font-style: normal;
}

.lato-bold {
  font-family: 'Lato', serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: 'Lato', serif;
  font-weight: 900;
  font-style: normal;
}

.search,
input::placeholder {
  color: #8ba3cb;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar::-webkit-scrollbar-thumb {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
